body {
    background-color: rgb(210, 198, 183);
    font-family: "Candara", "Arial", "Calibri", "Optima", "Sans";
    border: 2px dotted black;
}

a {
    color: rgb(180, 159, 3);
    font-weight: bold;
}

a:hover {
    font-size: 1.3em;
    font-weight: bolder;
}

body#artpage {
    margin-left: 15vw;
    margin-right: 15vw;
    
}
body#animalpage {
    margin-left: 15vw;
    margin-right: 15vw;

}

body.homepage {
    margin-left: 15vw;
    margin-right: 15vw;
}


a.return {
    font-size: 1.75em;
    margin-left: 28.5vw;
}

a.return:hover {
    font-size: 2em;
}

h2,
h4 {
    font-family: "Book Antiqua", "Didot", "Palatino", "Serif";
    font-size: 1.5em;
    background-color: rgba(225, 191, 138, 0.749);
    width: fit-content;

}

h2#OscarV {
    font-size: 2em;
    font-weight: 900;
}

li.external {
    margin-bottom: 14px;
}

li {
    margin-bottom: 8px;
}

ul li ul li {
    font-size: smaller;
}

span.arr {
    color:rgb(204, 81, 81);
    font-weight:bold;
}
p#background {
    font-size:1.25em;
}

div.courses  {
    display:flex;
    /* border: 2px dotted green; */
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    width: 80%;
}

div.coursetaught {
    /* border: 1px solid brown; */
    margin-right: 10%;
    margin-bottom: 3%;

}
div#animalphotolist {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}
div.animalphoto {
    margin-top:10px;
    margin-bottom:10px;
}
div#artphotolist {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}
div.artphoto {
    margin-top:10px;
    margin-bottom:10px;
}


/* media queries for responsive web design */
/* Ask the browser to identify the properties of the media that
the content is being displayed on and change the CSS rules accordingly */
/* As long as the width of the viewport is less than 750px, implement any rules present in the media query */
@media (max-width : 750px) {
    body {
        margin-left:3%;
        margin-right:3%;
    }
}
@media (min-width : 750px) {
    body {
        margin-left: 750px;
        margin-right: 750px;
    }
}
/* @media screen and (orientation: landscape) {
    body {
        background-color:rgb(225, 98, 98);
    }
} */